flows.json
[
    {
        "id": "f87284aad6864f17",
        "type": "tab",
        "label": "Water Vaporizer",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c006e20c144742db",
        "type": "tab",
        "label": "SoilMoisture",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a9d611e430e24fc7",
        "type": "tab",
        "label": "AnimalsHealth",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1f6ef931d2586798",
        "type": "tab",
        "label": "AnimalCoords",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "21cfc9c1db49869b",
        "type": "tab",
        "label": "MQTTSubscribers",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "106add133c103307",
        "type": "tab",
        "label": "QueryVisualization",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "457e8c05c9785e19",
        "type": "subflow",
        "name": "TCPQuery",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 80,
                "wires": [
                    {
                        "id": "567535ad8f06710e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 800,
                "y": 80,
                "wires": [
                    {
                        "id": "f007f34a541c8fde",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "f97095c1612c0231",
        "type": "subflow",
        "name": "TCPSetSensor",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 80,
                "wires": [
                    {
                        "id": "c768ec7fbd313602"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 580,
                "y": 80,
                "wires": [
                    {
                        "id": "55c33452fc63bdcc",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "56bd97b68c9dd11f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "37e20789b639f60a",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "localhost",
        "port": "27017",
        "dbName": "Rainforest",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsInsecure": false,
        "uri": "",
        "advanced": "",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "8f769c4a72a33cfe",
        "type": "ui_group",
        "name": "Environment",
        "tab": "0df9d6acb0e6adfe",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0df9d6acb0e6adfe",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dfb2ee6877025329",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "27d22955fd10c06e",
        "type": "ui_group",
        "name": "Animals",
        "tab": "0df9d6acb0e6adfe",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "567535ad8f06710e",
        "type": "function",
        "z": "457e8c05c9785e19",
        "name": "SetPayload",
        "func": "msg.payload = \"GET \" + msg.queryId;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 80,
        "wires": [
            [
                "f8243da112da3bb3"
            ]
        ]
    },
    {
        "id": "f8243da112da3bb3",
        "type": "tcp request",
        "z": "457e8c05c9785e19",
        "name": "GETRequest",
        "server": "127.0.0.1",
        "port": "9000",
        "out": "char",
        "ret": "string",
        "splitc": "\\n",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 430,
        "y": 80,
        "wires": [
            [
                "f007f34a541c8fde"
            ]
        ]
    },
    {
        "id": "f007f34a541c8fde",
        "type": "function",
        "z": "457e8c05c9785e19",
        "name": "FormatPayload",
        "func": "msg.payload = msg.payload.replace(/\\n/g, '');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c768ec7fbd313602",
        "type": "function",
        "z": "f97095c1612c0231",
        "name": "SetPayload",
        "func": "msg.payload = \"SET \" + msg.sensorId + \" \" + msg.value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 80,
        "wires": [
            [
                "55c33452fc63bdcc"
            ]
        ]
    },
    {
        "id": "55c33452fc63bdcc",
        "type": "tcp request",
        "z": "f97095c1612c0231",
        "name": "SETRequest",
        "server": "127.0.0.1",
        "port": "9000",
        "out": "char",
        "ret": "string",
        "splitc": "\\n",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 430,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "f2ab153059d0565d",
        "type": "inject",
        "z": "f87284aad6864f17",
        "d": true,
        "name": "Water Vaporizer",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "74c1d8911d915859"
            ]
        ]
    },
    {
        "id": "74c1d8911d915859",
        "type": "function",
        "z": "f87284aad6864f17",
        "name": "UserPresenceId",
        "func": "msg.queryId = \"1\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 80,
        "wires": [
            [
                "2b80ca743c3e009a"
            ]
        ]
    },
    {
        "id": "2b80ca743c3e009a",
        "type": "subflow:457e8c05c9785e19",
        "z": "f87284aad6864f17",
        "name": "",
        "x": 670,
        "y": 80,
        "wires": [
            [
                "72d1ea9f7a1e514b"
            ]
        ]
    },
    {
        "id": "72d1ea9f7a1e514b",
        "type": "function",
        "z": "f87284aad6864f17",
        "name": "SetValue",
        "func": "msg.userPresence = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 80,
        "wires": [
            [
                "23e92501053af997"
            ]
        ]
    },
    {
        "id": "c06297d23b1e14bd",
        "type": "encrypt",
        "z": "f87284aad6864f17",
        "name": "EncryptError",
        "algorithm": "AES",
        "key": "labiotrainforest",
        "x": 450,
        "y": 340,
        "wires": [
            [
                "542d5fdfc0e64bd3"
            ]
        ]
    },
    {
        "id": "542d5fdfc0e64bd3",
        "type": "mqtt out",
        "z": "f87284aad6864f17",
        "name": "",
        "topic": "errors/humidty",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "56bd97b68c9dd11f",
        "x": 900,
        "y": 340,
        "wires": []
    },
    {
        "id": "6c35f8f892ecde7e",
        "type": "subflow:f97095c1612c0231",
        "z": "f87284aad6864f17",
        "name": "",
        "x": 680,
        "y": 440,
        "wires": [
            [
                "734fdb6af71bc752"
            ]
        ]
    },
    {
        "id": "9d7275d3173bfdfb",
        "type": "function",
        "z": "f87284aad6864f17",
        "name": "SetVaporizer",
        "func": "msg.sensorId = \"2\";\n\nlet userPresenceError = msg.userPresence.includes(\"ERRORS\");\nlet humidityError = msg.humidity.includes(\"ERRORS\");\n\n//handle errors\nif(humidityError) {\n    msg.value = false;\n    return msg;\n} \n\n//handle userPresent\nif (msg.userPresent == \"True\") {\n    msg.value = msg.humidity < 88;\n    return msg;\n}\n\nmsg.value = msg.humidity < 77;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 440,
        "wires": [
            [
                "6c35f8f892ecde7e"
            ]
        ]
    },
    {
        "id": "40d4c6a48f7dcf01",
        "type": "encrypt",
        "z": "f87284aad6864f17",
        "name": "EncryptValue",
        "algorithm": "AES",
        "key": "labiotrainforest",
        "x": 670,
        "y": 640,
        "wires": [
            [
                "7ad9a04b9107f1f9"
            ]
        ]
    },
    {
        "id": "7ad9a04b9107f1f9",
        "type": "mqtt out",
        "z": "f87284aad6864f17",
        "name": "",
        "topic": "env/humidity",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "56bd97b68c9dd11f",
        "x": 890,
        "y": 640,
        "wires": []
    },
    {
        "id": "6710d02f104b8dad",
        "type": "encrypt",
        "z": "f87284aad6864f17",
        "name": "EncryptValue",
        "algorithm": "AES",
        "key": "labiotrainforest",
        "x": 670,
        "y": 580,
        "wires": [
            [
                "6c34d93f7f4f703d"
            ]
        ]
    },
    {
        "id": "6c34d93f7f4f703d",
        "type": "mqtt out",
        "z": "f87284aad6864f17",
        "name": "",
        "topic": "env/userPresence",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "56bd97b68c9dd11f",
        "x": 910,
        "y": 580,
        "wires": []
    },
    {
        "id": "3824d2b834f267ad",
        "type": "switch",
        "z": "f87284aad6864f17",
        "name": "UserPresenceError",
        "property": "userPresence",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "ERRORS",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "74231fc4875a0332"
            ],
            [
                "e9a73e95f5d4e7d7"
            ]
        ]
    },
    {
        "id": "74231fc4875a0332",
        "type": "encrypt",
        "z": "f87284aad6864f17",
        "name": "EncryptError",
        "algorithm": "AES",
        "key": "labiotrainforest",
        "x": 450,
        "y": 240,
        "wires": [
            [
                "3af8590de527160d"
            ]
        ]
    },
    {
        "id": "3af8590de527160d",
        "type": "mqtt out",
        "z": "f87284aad6864f17",
        "name": "",
        "topic": "errors/userPresence",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "56bd97b68c9dd11f",
        "x": 920,
        "y": 240,
        "wires": []
    },
    {
        "id": "e9a73e95f5d4e7d7",
        "type": "switch",
        "z": "f87284aad6864f17",
        "name": "HumidityError",
        "property": "humidity",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "ERRORS",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 160,
        "y": 360,
        "wires": [
            [
                "c06297d23b1e14bd"
            ],
            [
                "9d7275d3173bfdfb",
                "a057f43ce8e4ca7c",
                "63b628b14ade0d3a",
                "487a236225f2cbd8"
            ]
        ]
    },
    {
        "id": "1393755f1bdf7dd9",
        "type": "subflow:f97095c1612c0231",
        "z": "f87284aad6864f17",
        "name": "",
        "x": 680,
        "y": 500,
        "wires": [
            [
                "55e95c1db5ae9e5e"
            ]
        ]
    },
    {
        "id": "a057f43ce8e4ca7c",
        "type": "function",
        "z": "f87284aad6864f17",
        "name": "SetHumidityAlarm",
        "func": "msg.sensorId = \"14\";\nmsg.value = msg.humidity < 77 || msg.humidity > 88;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 500,
        "wires": [
            [
                "1393755f1bdf7dd9"
            ]
        ]
    },
    {
        "id": "55e95c1db5ae9e5e",
        "type": "debug",
        "z": "f87284aad6864f17",
        "name": "PrintResult",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 500,
        "wires": []
    },
    {
        "id": "734fdb6af71bc752",
        "type": "debug",
        "z": "f87284aad6864f17",
        "name": "PrintResult",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 440,
        "wires": []
    },
    {
        "id": "23e92501053af997",
        "type": "function",
        "z": "f87284aad6864f17",
        "name": "HumidityId",
        "func": "msg.queryId = \"6\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 160,
        "wires": [
            [
                "96662c9de4afc632"
            ]
        ]
    },
    {
        "id": "96662c9de4afc632",
        "type": "subflow:457e8c05c9785e19",
        "z": "f87284aad6864f17",
        "name": "",
        "x": 670,
        "y": 160,
        "wires": [
            [
                "2eb2c42567e1c30c"
            ]
        ]
    },
    {
        "id": "2eb2c42567e1c30c",
        "type": "function",
        "z": "f87284aad6864f17",
        "name": "SetValue",
        "func": "msg.humidity = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 160,
        "wires": [
            [
                "3824d2b834f267ad"
            ]
        ]
    },
    {
        "id": "63b628b14ade0d3a",
        "type": "function",
        "z": "f87284aad6864f17",
        "name": "SetValue",
        "func": "msg.payload = msg.userPresence;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 580,
        "wires": [
            [
                "6710d02f104b8dad"
            ]
        ]
    },
    {
        "id": "487a236225f2cbd8",
        "type": "function",
        "z": "f87284aad6864f17",
        "name": "SetValue",
        "func": "msg.payload = msg.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 640,
        "wires": [
            [
                "40d4c6a48f7dcf01"
            ]
        ]
    },
    {
        "id": "534be8a0a43726c4",
        "type": "inject",
        "z": "c006e20c144742db",
        "d": true,
        "name": "SoilMoisture",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "92f808e210578dc8"
            ]
        ]
    },
    {
        "id": "92f808e210578dc8",
        "type": "function",
        "z": "c006e20c144742db",
        "name": "SetSensorId",
        "func": "msg.queryId = \"7\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 80,
        "wires": [
            [
                "ef6b878e7733483e"
            ]
        ]
    },
    {
        "id": "2b0f5ba124bad7ad",
        "type": "switch",
        "z": "c006e20c144742db",
        "name": "Error",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "ERRORS",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "652b2b8f1f1bb46e"
            ],
            [
                "8a6c0d5f2c894437",
                "13ae57bde0d8c638",
                "bf41d2602d6ed9b0"
            ]
        ]
    },
    {
        "id": "652b2b8f1f1bb46e",
        "type": "encrypt",
        "z": "c006e20c144742db",
        "name": "EncryptError",
        "algorithm": "AES",
        "key": "labiotrainforest",
        "x": 370,
        "y": 180,
        "wires": [
            [
                "699a25bf5faeb0d6"
            ]
        ]
    },
    {
        "id": "699a25bf5faeb0d6",
        "type": "mqtt out",
        "z": "c006e20c144742db",
        "name": "",
        "topic": "errors/soilMoisture",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "56bd97b68c9dd11f",
        "x": 810,
        "y": 180,
        "wires": []
    },
    {
        "id": "03c2efce4d82ab2e",
        "type": "subflow:f97095c1612c0231",
        "z": "c006e20c144742db",
        "name": "",
        "x": 580,
        "y": 340,
        "wires": [
            [
                "7ce2e767e33002bf"
            ]
        ]
    },
    {
        "id": "8a6c0d5f2c894437",
        "type": "function",
        "z": "c006e20c144742db",
        "name": "SetIrrigators",
        "func": "msg.sensorId = \"2\";\nmsg.value = msg.payload < 77;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 340,
        "wires": [
            [
                "03c2efce4d82ab2e"
            ]
        ]
    },
    {
        "id": "13ae57bde0d8c638",
        "type": "encrypt",
        "z": "c006e20c144742db",
        "name": "EncryptValue",
        "algorithm": "AES",
        "key": "labiotrainforest",
        "x": 370,
        "y": 280,
        "wires": [
            [
                "9db6f7c61aa09867"
            ]
        ]
    },
    {
        "id": "9db6f7c61aa09867",
        "type": "mqtt out",
        "z": "c006e20c144742db",
        "name": "",
        "topic": "env/soilMoisture",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "56bd97b68c9dd11f",
        "x": 800,
        "y": 280,
        "wires": []
    },
    {
        "id": "be16333ba3e9e1ad",
        "type": "subflow:f97095c1612c0231",
        "z": "c006e20c144742db",
        "name": "",
        "x": 580,
        "y": 400,
        "wires": [
            [
                "063b1c368e935b02"
            ]
        ]
    },
    {
        "id": "bf41d2602d6ed9b0",
        "type": "function",
        "z": "c006e20c144742db",
        "name": "SetAlarm",
        "func": "msg.sensorId = \"15\";\nmsg.value = msg.payload < 77 || msg.payload > 88;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 400,
        "wires": [
            [
                "be16333ba3e9e1ad"
            ]
        ]
    },
    {
        "id": "ef6b878e7733483e",
        "type": "subflow:457e8c05c9785e19",
        "z": "c006e20c144742db",
        "name": "",
        "x": 560,
        "y": 80,
        "wires": [
            [
                "2b0f5ba124bad7ad"
            ]
        ]
    },
    {
        "id": "063b1c368e935b02",
        "type": "debug",
        "z": "c006e20c144742db",
        "name": "PrintResult",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "7ce2e767e33002bf",
        "type": "debug",
        "z": "c006e20c144742db",
        "name": "PrintResult",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 340,
        "wires": []
    },
    {
        "id": "f5ef54eea0985e4a",
        "type": "inject",
        "z": "a9d611e430e24fc7",
        "d": true,
        "name": "HealthParams",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "9361d216d18a96ff"
            ]
        ]
    },
    {
        "id": "9361d216d18a96ff",
        "type": "loop",
        "z": "a9d611e430e24fc7",
        "name": "SensorsLoop",
        "kind": "fcnt",
        "count": "3",
        "initial": "8",
        "step": "1",
        "condition": "",
        "conditionType": "js",
        "when": "before",
        "enumeration": "enum",
        "enumerationType": "msg",
        "limit": "",
        "loopPayload": "loop-orig",
        "finalPayload": "final-orig",
        "x": 350,
        "y": 80,
        "wires": [
            [],
            [
                "88fc28322ca1baac"
            ]
        ]
    },
    {
        "id": "88fc28322ca1baac",
        "type": "function",
        "z": "a9d611e430e24fc7",
        "name": "SetSensorIndex",
        "func": "msg.queryId = msg.loop.value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 160,
        "wires": [
            [
                "0b2ce7c5f3f24878"
            ]
        ]
    },
    {
        "id": "0b2ce7c5f3f24878",
        "type": "subflow:457e8c05c9785e19",
        "z": "a9d611e430e24fc7",
        "name": "",
        "x": 570,
        "y": 160,
        "wires": [
            [
                "b136756367a00c14",
                "9361d216d18a96ff"
            ]
        ]
    },
    {
        "id": "b136756367a00c14",
        "type": "switch",
        "z": "a9d611e430e24fc7",
        "name": "Error",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "ERRORS",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 130,
        "y": 280,
        "wires": [
            [
                "3c3686432fcceeed"
            ],
            [
                "7a21a0bcf532c6b9",
                "ea786a5ca8de56a8",
                "e61fbdbd8dd94b89"
            ]
        ]
    },
    {
        "id": "3c3686432fcceeed",
        "type": "encrypt",
        "z": "a9d611e430e24fc7",
        "name": "EncryptError",
        "algorithm": "AES",
        "key": "labiotrainforest",
        "x": 350,
        "y": 260,
        "wires": [
            [
                "0b53e119510632dc"
            ]
        ]
    },
    {
        "id": "0b53e119510632dc",
        "type": "mqtt out",
        "z": "a9d611e430e24fc7",
        "name": "",
        "topic": "errors/health",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "56bd97b68c9dd11f",
        "x": 790,
        "y": 260,
        "wires": []
    },
    {
        "id": "7a21a0bcf532c6b9",
        "type": "function",
        "z": "a9d611e430e24fc7",
        "name": "SetHrAlarm",
        "func": "let healthObj = JSON.parse(msg.payload);\nlet hr = healthObj.hb;\n\nmsg.sensorId = msg.queryId + 8;\nmsg.value = hr < 285 || hr > 305;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 420,
        "wires": [
            [
                "59729989401f7acf"
            ]
        ]
    },
    {
        "id": "59729989401f7acf",
        "type": "subflow:f97095c1612c0231",
        "z": "a9d611e430e24fc7",
        "name": "",
        "x": 580,
        "y": 420,
        "wires": [
            [
                "c6ef15cdb22919e1"
            ]
        ]
    },
    {
        "id": "c6ef15cdb22919e1",
        "type": "debug",
        "z": "a9d611e430e24fc7",
        "name": "PrintResult",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 420,
        "wires": []
    },
    {
        "id": "ea786a5ca8de56a8",
        "type": "function",
        "z": "a9d611e430e24fc7",
        "name": "SetTempAlarm",
        "func": "let healthObj = JSON.parse(msg.payload);\nlet bodyTem = healthObj.body_tem;\n\nmsg.sensorId = msg.queryId + 3 + 8;\nmsg.value = bodyTem < 39 || bodyTem > 43;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 480,
        "wires": [
            [
                "291e0958b09c8928"
            ]
        ]
    },
    {
        "id": "291e0958b09c8928",
        "type": "subflow:f97095c1612c0231",
        "z": "a9d611e430e24fc7",
        "name": "",
        "x": 580,
        "y": 480,
        "wires": [
            [
                "6b51107fd23a352b"
            ]
        ]
    },
    {
        "id": "6b51107fd23a352b",
        "type": "debug",
        "z": "a9d611e430e24fc7",
        "name": "PrintResult",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 480,
        "wires": []
    },
    {
        "id": "e61fbdbd8dd94b89",
        "type": "encrypt",
        "z": "a9d611e430e24fc7",
        "name": "EncryptValue",
        "algorithm": "AES",
        "key": "labiotrainforest",
        "x": 350,
        "y": 360,
        "wires": [
            [
                "6ee84572258c7d56"
            ]
        ]
    },
    {
        "id": "6ee84572258c7d56",
        "type": "mqtt out",
        "z": "a9d611e430e24fc7",
        "name": "",
        "topic": "birds/health",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "56bd97b68c9dd11f",
        "x": 790,
        "y": 360,
        "wires": []
    },
    {
        "id": "9efea2155ff54c04",
        "type": "inject",
        "z": "1f6ef931d2586798",
        "d": true,
        "name": "AnimalCoords",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "308567613d6b936f"
            ]
        ]
    },
    {
        "id": "308567613d6b936f",
        "type": "loop",
        "z": "1f6ef931d2586798",
        "name": "SensorsLoop",
        "kind": "fcnt",
        "count": "3",
        "initial": "11",
        "step": "1",
        "condition": "",
        "conditionType": "js",
        "when": "before",
        "enumeration": "enum",
        "enumerationType": "msg",
        "limit": "",
        "loopPayload": "loop-orig",
        "finalPayload": "final-orig",
        "x": 350,
        "y": 80,
        "wires": [
            [],
            [
                "cb2372a2101be6c6"
            ]
        ]
    },
    {
        "id": "cb2372a2101be6c6",
        "type": "function",
        "z": "1f6ef931d2586798",
        "name": "SetSensorIndex",
        "func": "msg.queryId = msg.loop.value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 160,
        "wires": [
            [
                "d3348942a7777029"
            ]
        ]
    },
    {
        "id": "d3348942a7777029",
        "type": "subflow:457e8c05c9785e19",
        "z": "1f6ef931d2586798",
        "name": "",
        "x": 560,
        "y": 160,
        "wires": [
            [
                "0926f6a6ff0fb5b4",
                "308567613d6b936f"
            ]
        ]
    },
    {
        "id": "0926f6a6ff0fb5b4",
        "type": "switch",
        "z": "1f6ef931d2586798",
        "name": "Error",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "ERRORS",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 130,
        "y": 280,
        "wires": [
            [
                "c22146cae5df9e29"
            ],
            [
                "18aa9618f0c24438",
                "8491b830678a5e4e"
            ]
        ]
    },
    {
        "id": "c22146cae5df9e29",
        "type": "encrypt",
        "z": "1f6ef931d2586798",
        "name": "EncryptError",
        "algorithm": "AES",
        "key": "labiotrainforest",
        "x": 350,
        "y": 260,
        "wires": [
            [
                "755bc3b9007143f0"
            ]
        ]
    },
    {
        "id": "755bc3b9007143f0",
        "type": "mqtt out",
        "z": "1f6ef931d2586798",
        "name": "",
        "topic": "errors/coords",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "56bd97b68c9dd11f",
        "x": 800,
        "y": 260,
        "wires": []
    },
    {
        "id": "18aa9618f0c24438",
        "type": "function",
        "z": "1f6ef931d2586798",
        "name": "SetGPSAlarm",
        "func": "let gpsObj = JSON.parse(msg.payload);\nlet lat = gpsObj.lat;\nlet lon = gpsObj.lon;\n\nmsg.prova = {\n    \"lat\": lat,\n    \"lon\": lon\n}\n\nmsg.sensorId = msg.queryId + 11;\nmsg.value = lat < 40 || lat > 50 || lon < 40 || lon > 50;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 420,
        "wires": [
            [
                "57a36d3330bdef10"
            ]
        ]
    },
    {
        "id": "57a36d3330bdef10",
        "type": "subflow:f97095c1612c0231",
        "z": "1f6ef931d2586798",
        "name": "",
        "x": 580,
        "y": 420,
        "wires": [
            [
                "fba59e0a6cb8f02e"
            ]
        ]
    },
    {
        "id": "fba59e0a6cb8f02e",
        "type": "debug",
        "z": "1f6ef931d2586798",
        "name": "PrintResult",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 420,
        "wires": []
    },
    {
        "id": "8491b830678a5e4e",
        "type": "encrypt",
        "z": "1f6ef931d2586798",
        "name": "EncryptValue",
        "algorithm": "AES",
        "key": "labiotrainforest",
        "x": 350,
        "y": 360,
        "wires": [
            [
                "f317655fdbda0f5c"
            ]
        ]
    },
    {
        "id": "f317655fdbda0f5c",
        "type": "mqtt out",
        "z": "1f6ef931d2586798",
        "name": "",
        "topic": "birds/coords",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "56bd97b68c9dd11f",
        "x": 790,
        "y": 360,
        "wires": []
    },
    {
        "id": "a80e86f72a11bd80",
        "type": "mqtt in",
        "z": "21cfc9c1db49869b",
        "name": "",
        "topic": "errors/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "56bd97b68c9dd11f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 260,
        "wires": [
            [
                "b845b35cab2eab70"
            ]
        ]
    },
    {
        "id": "b845b35cab2eab70",
        "type": "decrypt",
        "z": "21cfc9c1db49869b",
        "name": "DecryptError",
        "algorithm": "AES",
        "key": "labiotrainforest",
        "x": 350,
        "y": 260,
        "wires": [
            [
                "ed430e224729a8b9"
            ]
        ]
    },
    {
        "id": "fc43e633298aedaa",
        "type": "mqtt in",
        "z": "21cfc9c1db49869b",
        "name": "",
        "topic": "env/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "56bd97b68c9dd11f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "23a52473b7af779c"
            ]
        ]
    },
    {
        "id": "23a52473b7af779c",
        "type": "decrypt",
        "z": "21cfc9c1db49869b",
        "name": "DecryptValue",
        "algorithm": "AES",
        "key": "labiotrainforest",
        "x": 350,
        "y": 60,
        "wires": [
            [
                "899a31772a454267"
            ]
        ]
    },
    {
        "id": "e670b95a560d9685",
        "type": "mqtt in",
        "z": "21cfc9c1db49869b",
        "name": "",
        "topic": "birds/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "56bd97b68c9dd11f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "d48a7a2bc41e45f2"
            ]
        ]
    },
    {
        "id": "d48a7a2bc41e45f2",
        "type": "decrypt",
        "z": "21cfc9c1db49869b",
        "name": "DecryptValue",
        "algorithm": "AES",
        "key": "labiotrainforest",
        "x": 350,
        "y": 140,
        "wires": [
            [
                "11c2c61eedde1a1d"
            ]
        ]
    },
    {
        "id": "ed430e224729a8b9",
        "type": "file",
        "z": "21cfc9c1db49869b",
        "name": "LogErrors",
        "filename": "/Users/andreanonali/Desktop/errors_log",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 760,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "11c2c61eedde1a1d",
        "type": "function",
        "z": "21cfc9c1db49869b",
        "name": "FormatValue",
        "func": "let obj = JSON.parse(msg.payload);\nobj.date = new Date();\n\nmsg.collection = msg.topic.replace('/', '.'); \nmsg.payload = [obj]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 140,
        "wires": [
            [
                "203499054ea13edd"
            ]
        ]
    },
    {
        "id": "203499054ea13edd",
        "type": "mongodb4",
        "z": "21cfc9c1db49869b",
        "clientNode": "37e20789b639f60a",
        "collection": "",
        "operation": "insert",
        "output": "toArray",
        "name": "RainforestDB",
        "x": 770,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "899a31772a454267",
        "type": "function",
        "z": "21cfc9c1db49869b",
        "name": "FormatValue",
        "func": "msg.collection = msg.topic.replace('/', '.');\n\n//payload can be a boolean string or a float string\nlet value = parseFloat(msg.payload)\nif(isNaN(value)) {\n    value = msg.payload == \"True\";\n}\n\nmsg.payload = [{\n    \"value\": value,\n    \"date\": new Date()\n}]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 60,
        "wires": [
            [
                "203499054ea13edd"
            ]
        ]
    },
    {
        "id": "96ad96c3f123d5a8",
        "type": "mqtt in",
        "z": "21cfc9c1db49869b",
        "name": "",
        "topic": "env/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "56bd97b68c9dd11f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 380,
        "wires": [
            [
                "2e0a2743fbaeaa56"
            ]
        ]
    },
    {
        "id": "2e0a2743fbaeaa56",
        "type": "decrypt",
        "z": "21cfc9c1db49869b",
        "name": "DecryptValue",
        "algorithm": "AES",
        "key": "labiotrainforest",
        "x": 350,
        "y": 380,
        "wires": [
            [
                "932bf07fe8563251"
            ]
        ]
    },
    {
        "id": "932bf07fe8563251",
        "type": "ui_gauge",
        "z": "21cfc9c1db49869b",
        "name": "Humidity",
        "group": "8f769c4a72a33cfe",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": "90",
        "max": "0",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "77",
        "seg2": "57",
        "className": "",
        "x": 760,
        "y": 380,
        "wires": []
    },
    {
        "id": "70dac23210c4447d",
        "type": "mqtt in",
        "z": "21cfc9c1db49869b",
        "name": "",
        "topic": "env/soilMoisture",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "56bd97b68c9dd11f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 460,
        "wires": [
            [
                "c76bc0c791eb5f95"
            ]
        ]
    },
    {
        "id": "c76bc0c791eb5f95",
        "type": "decrypt",
        "z": "21cfc9c1db49869b",
        "name": "DecryptValue",
        "algorithm": "AES",
        "key": "labiotrainforest",
        "x": 350,
        "y": 460,
        "wires": [
            [
                "862b3b949975e4a5"
            ]
        ]
    },
    {
        "id": "862b3b949975e4a5",
        "type": "ui_gauge",
        "z": "21cfc9c1db49869b",
        "name": "SoilMoisture",
        "group": "8f769c4a72a33cfe",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "SoilMoisture",
        "label": "units",
        "format": "{{value}}",
        "min": "90",
        "max": "0",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "77",
        "seg2": "57",
        "className": "",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "81e87236b5cff86c",
        "type": "mqtt in",
        "z": "21cfc9c1db49869b",
        "name": "",
        "topic": "birds/health",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "56bd97b68c9dd11f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 560,
        "wires": [
            [
                "50edac2682814e07"
            ]
        ]
    },
    {
        "id": "50edac2682814e07",
        "type": "decrypt",
        "z": "21cfc9c1db49869b",
        "name": "DecryptValue",
        "algorithm": "AES",
        "key": "labiotrainforest",
        "x": 350,
        "y": 560,
        "wires": [
            [
                "5dfb5bbcc6e4c831",
                "374e06f29df73d4c"
            ]
        ]
    },
    {
        "id": "5dfb5bbcc6e4c831",
        "type": "function",
        "z": "21cfc9c1db49869b",
        "name": "FormatValue",
        "func": "let healthObj = JSON.parse(msg.payload);\n\nmsg.topic = healthObj.name;\nmsg.payload = healthObj.body_tem;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 580,
        "wires": [
            [
                "1848df98f1e257a1"
            ]
        ]
    },
    {
        "id": "374e06f29df73d4c",
        "type": "function",
        "z": "21cfc9c1db49869b",
        "name": "FormatValue",
        "func": "let healthObj = JSON.parse(msg.payload);\n\nmsg.topic = healthObj.name;\nmsg.payload = healthObj.hb;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 540,
        "wires": [
            [
                "4a82ce96f134a587"
            ]
        ]
    },
    {
        "id": "4a82ce96f134a587",
        "type": "ui_chart",
        "z": "21cfc9c1db49869b",
        "name": "HeartRate",
        "group": "27d22955fd10c06e",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "HeartRate",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "1848df98f1e257a1",
        "type": "ui_chart",
        "z": "21cfc9c1db49869b",
        "name": "BodyTemperature",
        "group": "27d22955fd10c06e",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "BodyTemperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "1ad73b7551e17aeb",
        "type": "function",
        "z": "106add133c103307",
        "name": "QueryAvgHumidity",
        "func": "msg.collection = \"env.humidity\"\nmsg.operation = \"aggregate\"\nmsg.payload = [[\n    {\n        $match: {\n            \"date\": {\n                \"$gte\": new Date(\"2022-09-01T00:00:00.000Z\"),\n                \"$lt\": new Date(\"2022-09-02T00:00:00.000Z\")\n            }\n        }\n    },\n    {\n        $group: { _id: \"avg\", avg: { $avg: \"$value\" } }\n    }\n]\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 160,
        "wires": [
            [
                "30c906450c023bc1"
            ]
        ]
    },
    {
        "id": "c91e93e874c77a88",
        "type": "http in",
        "z": "106add133c103307",
        "name": "get/QueryVisualization",
        "url": "queries",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "3ed6d0f2e49823a8"
            ]
        ]
    },
    {
        "id": "3ed6d0f2e49823a8",
        "type": "function",
        "z": "106add133c103307",
        "name": "QueryUserPresence",
        "func": "msg.collection = \"env.userPresence\";\nmsg.operation = \"count\";\n\nlet today = new Date()\ntoday.setHours(0, 0, 0, 0);\nlet tomorrow = new Date(today)\ntomorrow.setDate(tomorrow.getDate() + 1)\n\nmsg.payload = [{\n    \"date\" : {\n    \"$gte\": today,\n    \"$lt\": tomorrow\n}}]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 80,
        "wires": [
            [
                "72fc73e4adf9841f"
            ]
        ]
    },
    {
        "id": "b102f2436b5c93de",
        "type": "http response",
        "z": "106add133c103307",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 780,
        "y": 580,
        "wires": []
    },
    {
        "id": "dadac1264f0dac74",
        "type": "function",
        "z": "106add133c103307",
        "name": "QueryAvgSoilMoisture",
        "func": "msg.collection = \"env.soilMoisture\"\nmsg.operation = \"aggregate\"\nmsg.payload = [[\n    {\n        $match: {\n            \"date\": {\n                \"$gte\": new Date(\"2022-09-01T00:00:00.000Z\"),\n                \"$lt\": new Date(\"2022-09-02T00:00:00.000Z\")\n            }\n        }\n    },\n    {\n        $group: { _id: \"avg\", avg: { $avg: \"$value\" } }\n    }\n]\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 240,
        "wires": [
            [
                "6a3073bacd124cd2"
            ]
        ]
    },
    {
        "id": "df2e2237fd75fdd5",
        "type": "function",
        "z": "106add133c103307",
        "name": "QueryAvgHeartRate",
        "func": "msg.collection = \"birds.health\"\nmsg.operation = \"aggregate\"\n\nlet today = new Date()\ntoday.setHours(0, 0, 0, 0);\nlet tomorrow = new Date(today)\ntomorrow.setDate(tomorrow.getDate() + 1)\n\nmsg.payload = [[\n    {\n        $match: {\n            \"date\": {\n                \"$gte\": new Date(\"2022-09-01T00:00:00.000Z\"),\n                \"$lt\": new Date(\"2022-09-02T00:00:00.000Z\")\n            }\n        }\n    },\n    {\n        $group: { _id: \"$name\", avg: { $avg: \"$hb\" } }\n    }\n]\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 320,
        "wires": [
            [
                "dbdf6dcacaeb02a8"
            ]
        ]
    },
    {
        "id": "0cfbf450a64d90bb",
        "type": "function",
        "z": "106add133c103307",
        "name": "QueryAvgBodyTemp",
        "func": "msg.collection = \"birds.health\";\nmsg.operation = \"aggregate\";\n\nlet today = new Date()\ntoday.setHours(0, 0, 0, 0);\nlet tomorrow = new Date(today)\ntomorrow.setDate(tomorrow.getDate() + 1)\n\nmsg.payload = [[\n    {\n        $match: {\n            \"date\": {\n                \"$gte\": new Date(\"2022-09-01T00:00:00.000Z\"),\n                \"$lt\": new Date(\"2022-09-02T00:00:00.000Z\")\n            }\n        }\n    },\n    {\n        $group: { _id: \"$name\", avg: { $avg: \"$body_tem\" } }\n    }\n]\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 400,
        "wires": [
            [
                "d28f9a6ce42cfe0f"
            ]
        ]
    },
    {
        "id": "98b1db14435045f0",
        "type": "function",
        "z": "106add133c103307",
        "name": "FormatResult",
        "func": "msg.result = {}\n\nif (typeof msg.payload === 'undefined'){\n    msg.result.userCount = \"no values found\"\n    return msg;\n}\n    \nmsg.result.userCount = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 80,
        "wires": [
            [
                "1ad73b7551e17aeb"
            ]
        ]
    },
    {
        "id": "7f1553fdeb5661f2",
        "type": "function",
        "z": "106add133c103307",
        "name": "FormatResult",
        "func": "if (typeof msg.payload === 'undefined') {\n    msg.result.avgHumidity = \"no values found\"\n    return msg;\n}\n    \nmsg.result.avgHumidity = msg.payload[0].avg;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 160,
        "wires": [
            [
                "dadac1264f0dac74"
            ]
        ]
    },
    {
        "id": "b11171805ac80d11",
        "type": "function",
        "z": "106add133c103307",
        "name": "FormatResult",
        "func": "if (typeof msg.payload === 'undefined') {\n    msg.result.avgSoilMoisture = \"no values found\"\n    return msg;\n}\n    \nmsg.result.avgSoilMoisture = msg.payload[0].avg;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 240,
        "wires": [
            [
                "df2e2237fd75fdd5"
            ]
        ]
    },
    {
        "id": "dcbad729d579ae4c",
        "type": "function",
        "z": "106add133c103307",
        "name": "FormatResult",
        "func": "if (typeof msg.payload === 'undefined') {\n    msg.result.avgHeartRate1 = \"no values found\"\n    msg.result.avgHeartRate2 = \"no values found\"\n    msg.result.avgHeartRate3 = \"no values found\"\n    return msg;\n}\n    \nmsg.result.avgHeartRate1 = msg.payload[0].avg\nmsg.result.avgHeartRate2 = msg.payload[1].avg\nmsg.result.avgHeartRate3 = msg.payload[2].avg\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 320,
        "wires": [
            [
                "0cfbf450a64d90bb"
            ]
        ]
    },
    {
        "id": "edc3f38401f67ad6",
        "type": "function",
        "z": "106add133c103307",
        "name": "FormatResult",
        "func": "if (typeof msg.payload === 'undefined') {\n    msg.result.avgBodyTemp1 = \"no values found\"\n    msg.result.avgBodyTemp2 = \"no values found\"\n    msg.result.avgBodyTemp3 = \"no values found\"\n    return msg;\n}\n\nmsg.result.avgBodyTemp1 = msg.payload[0].avg;\nmsg.result.avgBodyTemp2 = msg.payload[1].avg;\nmsg.result.avgBodyTemp3 = msg.payload[2].avg;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 400,
        "wires": [
            [
                "e8f3b5425c940ccb"
            ]
        ]
    },
    {
        "id": "810656d86dcb33fc",
        "type": "template",
        "z": "106add133c103307",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<body>\n    <h1>Query Visualization</h1>\n    <h3>Users passed under water vaporizer</h3>\n    <p>{{payload.userCount}}</p>\n\n    <h3>Avg humidity</h3>\n    <p>{{payload.avgHumidity}}</p>\n\n    <h3>Avg soilMoisture</h3>\n    <p>{{payload.avgSoilMoisture}}</p>\n\n    <h3>Avg heart rate</h3>\n    <p>Bird1: {{payload.avgHeartRate1}}</p>\n    <p>Bird2: {{payload.avgHeartRate2}}</p>\n    <p>Bird3: {{payload.avgHeartRate3}}</p>\n\n    <h3>Avg Body Temperature</h3>\n    <p>Bird1: {{payload.avgBodyTemp1}}</p>\n    <p>Bird2: {{payload.avgBodyTemp2}}</p>\n    <p>Bird3: {{payload.avgBodyTemp3}}</p>\n</body>\n\n<style>\n    body {\n        background-color: #d3d3d3;\n    }\n\n    h1 {\n        color: blue;\n    }\n\n    p {\n        color: red;\n    }\n</style>",
        "output": "str",
        "x": 360,
        "y": 580,
        "wires": [
            [
                "b102f2436b5c93de"
            ]
        ]
    },
    {
        "id": "e8f3b5425c940ccb",
        "type": "function",
        "z": "106add133c103307",
        "name": "SetPayload",
        "func": "msg.payload = msg.result\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 480,
        "wires": [
            [
                "810656d86dcb33fc"
            ]
        ]
    },
    {
        "id": "72fc73e4adf9841f",
        "type": "mongodb4",
        "z": "106add133c103307",
        "clientNode": "37e20789b639f60a",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "name": "Query",
        "x": 610,
        "y": 80,
        "wires": [
            [
                "98b1db14435045f0"
            ]
        ]
    },
    {
        "id": "6a3073bacd124cd2",
        "type": "mongodb4",
        "z": "106add133c103307",
        "clientNode": "37e20789b639f60a",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "name": "Query",
        "x": 610,
        "y": 240,
        "wires": [
            [
                "b11171805ac80d11"
            ]
        ]
    },
    {
        "id": "d28f9a6ce42cfe0f",
        "type": "mongodb4",
        "z": "106add133c103307",
        "clientNode": "37e20789b639f60a",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "name": "Query",
        "x": 610,
        "y": 400,
        "wires": [
            [
                "edc3f38401f67ad6"
            ]
        ]
    },
    {
        "id": "dbdf6dcacaeb02a8",
        "type": "mongodb4",
        "z": "106add133c103307",
        "clientNode": "37e20789b639f60a",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "name": "Query",
        "x": 610,
        "y": 320,
        "wires": [
            [
                "dcbad729d579ae4c"
            ]
        ]
    },
    {
        "id": "30c906450c023bc1",
        "type": "mongodb4",
        "z": "106add133c103307",
        "clientNode": "37e20789b639f60a",
        "collection": "",
        "operation": "",
        "output": "toArray",
        "name": "Query",
        "x": 610,
        "y": 160,
        "wires": [
            [
                "7f1553fdeb5661f2"
            ]
        ]
    }
]